<h1>{{this.chatService.getNombreChat()}}</h1>
<hr>
<div class="app-mensajes" id="app-mensajes">
  <div *ngFor="let mensaje of chatService.getMensajes()">

  <div class="text-right" *ngIf="getUserName() === mensaje.userName">
    <span class="badge badge-success">{{mensaje.userName}}</span>
    <p>{{mensaje.texto}}</p>
  </div>

  <div class="text-left" *ngIf="getUserName() !== mensaje.userName">
    <span class="badge badge-primary">{{mensaje.userName}}</span>
    <p>{{mensaje.texto}}</p>
  </div>
</div>

</div>

<input type="text" class="rounded form-control form-control-sm" placeholder="Enviar mensaje" [(ngModel)]="texto" name="texto" (keydown.enter)="enviarMensaje()">
