<div class="row">
  <div class="col">
    <input type="text" class="form-control" placeholder="Nombre de usuario" [(ngModel)]="nombreUsuario" />
  </div>
</div>
<div class="row">
  <div class="col-12 text-right">
    <button type="button" class="btn btn-success" (click)="openModal(template)">
      +
    </button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Chats</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let content of returnedChats">
          <th scope="row" class="puntero" (click)="unirserAlChat(content)">{{content.nombre}}</th>
        </tr>
      </tbody>
    </table>
    <pagination [itemsPerPage]="elementByPage" [totalItems]="chats.length" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"></pagination>
</div>


<ng-template #template>
  <alert type="danger" *ngIf="nombreChatVacio && nombreChat == ''" dismissible="dismissible">
    <strong>Error:</strong> Debe definir un nombre para el chat
  </alert>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Ingrese nombre del chat</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <input type="text" id="nombreChat" [(ngModel)]="nombreChat" placeholder="ingrese nombre del chat" name="chatNombre" value="" (keydown.enter)="crearChat()">
  </div>
  <div class="modal-body">
    <button type="button"  (click)="crearChat()" class="btn btn-success">crear</button>
  </div>
</ng-template>
