<app-navbar></app-navbar>
<div class="main-container animated">
  <div class="row">
    <div class="col">
      <app-home></app-home>
    </div>
    <div class="col">
      <app-chat *ngIf="chatService.estaEnAlgunChat()" ></app-chat>
    </div>
  </div>
</div>
